<section class="relative flex flex-col step slide" data-x="4320" data-y="0">
  <h2>Turistico AR</h2>
  <div class="w-full">
    <img src="img/table-p0.png" alt="Tabella corso P1" class="mx-auto"/>
  </div>
  <div class="absolute w-64 top-24 right-8 -rotate-12">
    <img src="img/microbolle.png" alt="Microbolle" class=""/>
  </div>
  <div class="notes">
    <p>
    Allievi:<br/>
    Primo approccio alla subacquea (?)<br/>
    Curiosità Aspetto emotivo (stress)<br/>
    </p>
    <p>
    Istruttore<br/>
    Controllo<br/>
    “Basse” aspettative<br/>
    Approccio decisivo
    <br/>
    </p>
    <p>
    Nessuno
    ci vieta di proporlo quando organizziamo un weekend o una settimana blu ad
    eventuali accompagnatori
  </p>
    <p>
      Profondità massima 10 m, accompagnato da un Sommozzatore esperto
      <br/>
      Il brevetto costituisce credito per il conseguimento del brevetto di 1°
      Grado AR (P1)
    </p>
  </div>
</section>
<section class="relative flex flex-col step slide" data-x="4320" data-y="910">
  <h2>Quiz: specializzazioni <em>senza</em> P1?</h2>
  <p class="mb-8 text-3xl">
    Quali specializzazioni possono essere conseguite senza avere un brevetto P1?
  </p>
  <div class="flex-1 overflow-y-auto substep">
    <div class="card-grid">{% card "PFs" %}
      {% card "PAs0" %}</div>
    <div class="card-grid">
      {% card "PBio1" %}
      {% card "PBio2" %}
      {% card "PBioL" %}
      {% card "PBioT"
 %}
    </div>
  </div>
  <div class="absolute w-64 text-9xl top-24 right-4">🙋🏽</div>
</section>