<section class="flex flex-col step slide" data-x="5760" data-y="0">
    <h2 class="mb-8">1° Grado AR</h2>
    <div class="flex-1 w-full">
        <img src="img/table-p1.png" alt="Tabella corso P1" class="object-contain w-full mx-auto"/>
    </div>
</section>
<section class="flex flex-col step slide" data-x="5760" data-y="910">
    <h2 class="mb-8">1° Grado AR</h2>
    <div class="flex-1 w-full">
        <img src="img/flow-p1.png" alt="Tabella corso P1" class="object-contain w-full mx-auto"/>
    </div>
</section>
<section class="flex flex-col step slide" data-x="5760" data-y="1820">
    <h2>1° Grado AR</h2>
    <p>Quali specializzazioni?</p>
    <div class="flex-1 overflow-y-auto">
        <div class="grid grid-cols-4 gap-6">
            {% card "POn" %}
            {% card "PNot" %}
            {% card "PNx1" %}
            {% card "PVs" %}
            {% card "PMs" %}
            {% card "PAs1" %}
            {% card "PSm1" %}

            {# 
                        P2:
           <corso-card codice="PRs"></corso-card> 
           <corso-card codice="PAs2"></corso-card>
                       <corso-card codice="PDpv1"></corso-card>
                <corso-card codice="PSp1"></corso-card>  
                   <corso-card codice="PQt"></corso-card>
            <corso-card codice="PAro"></corso-card>

    <corso-card codice="POpc1"></corso-card>
            <corso-card codice="PSg"></corso-card>

           #}
        </div>
    </div>
</section>