<section class="flex items-center justify-center step slide" data-x="8640" data-y="0" >
    <h2>Istruttori</h2>
</section>
<section class="relative step slide" data-x="8640" data-y="910" >
    <h2>Quiz</h2>
    <p class="mb-8 text-3xl">Quali corsi si possono insegnare <em>senza</em> essere M1?</p>
    <div class="substep">
        <div class="card-grid">
            {% card "PVs" %}
            {% card "PFs" %}
            {% card "POpc1" %}
        </div>
        <div class="card-grid">
            {% card "PBio1" %}
            {% card "PBio2" %}
            {% card "PBioL" %}
            {% card "PBioT" %}
        </div>
    </div>
    <div class="absolute w-64 text-9xl top-12 right-8">
        🙋🏾‍♀️
    </div>
    <div class="notes">Con il dovuto brevetto di specialità eh</div>
</section>
<section class="relative step slide" data-x="8640" data-y="1820">
    <h2>Quiz</h2>
    <p class="mb-8 text-3xl">Cosa si può insegnare con un brevetto M1?</p>
    <div class="card-grid substep">
        {% card "P1" %}
        {% card "P2" %}
        {% card "PNx1" %}
        {% card "POn" %}
        {% card "PNot" %}
        {% card "PMs" %}
        {% card "PRs" %}
    </div>
    <div class="absolute w-64 text-9xl top-12 right-8">
          🙋🏼‍♂️
        </div>
    <div class="notes">
        Il Nitrox Base è argomento della Sessione di Esame Istruttore di 1° Grado AR
(M1).<br/>Il candidato Istruttore che supera positivamente la Sessione di Esame
consegue anche il brevetto di Istruttore Nitrox Base (MNx1).</div>
</section>
<section class="relative step slide" data-x="8640" data-y="2730">
    <h2>Quiz: rapporto Istruttore - Allievi</h2>
    <p class="mb-8 text-3xl">Quali corsi hanno un rapporto IST/Allievi diverso da 4:1 in AL?</p>
    <div class="card-grid substep">
        {% card "P0" %}
        {% card "POpc1" %}
        {% card "PQt" %}
        {% card "PSg" %}
    </div>
    <div class="absolute w-64 text-9xl top-12 right-8">
          🙋🏻
        </div>
</section>