<section class="flex flex-col step slide" data-x="4320" data-y="0">
    <h2>P0: Turistico AR</h2>
    <p>
          Profondità massima 10 m, accompagnato da un Sommozzatore esperto
          <br/>
          Il brevetto costituisce credito per il conseguimento del brevetto di
          1° Grado AR (P1)
        </p>
    <div class="w-full mt-auto">
        <img src="img/flow-p0.png" alt="Tabella corso P1" class="mx-auto"/>
    </div>
    <div class="notes">
          Nesusno ci vieta di proporlo quando organizziamo un weekend o una
          settimana blu ad eventuali accompagnatori
        </div>
</section>
<section class="flex flex-col step slide" data-x="4320" data-y="910">
    <h2>Quali specializzazioni <em>senza</em> il P1?</h2>
    <div class="flex-1 overflow-y-auto substep">
        <div class="grid grid-cols-4 gap-6">

            {% card "PBio1" %}
            {% card "PBio2" %}
            {% card "PBioL" %}
            {% card "PBioT" %}
            {% card "PFs" %}
            {% card "PAs0" %}

            <corso-card codice="POpc1"></corso-card>
            <corso-card codice="POpc1"></corso-card>
            <corso-card codice="PSm1"></corso-card>
            <corso-card codice="PSp1"></corso-card>
        </div>
    </div>
</section>