<section class="flex flex-col step slide" data-x="7200" data-y="0">
    <h2>2° Grado AR</h2>
    <div class="flex-1 w-full">
        <img src="img/table-p2.png" alt="Tabella corso P2" class="object-contain w-full mx-auto"/>
    </div>
    <div class="notes">
        <p> Allievi: 
Approccio maturo alla subacquea
Alte aspettative
Poca consapevolezza del mondo AR (specializzazioni)</p>
        <p>Istruttore:
Controllo non invasivo
“Buone” aspettative
Delega
Alto coinvolgimento</p>
    </div>
</section>
<section class="flex flex-col step slide" data-x="7200" data-y="910">
    <h2>2° Grado AR</h2>
    <div class="flex-1 w-full">
        <img src="img/flow-p2.png" alt="Tabella corso P2" class="object-contain w-full mx-auto"/>
    </div>
</section>
<section class="flex flex-col step slide" data-x="7200" data-y="1820">
    <h2>2° Grado AR - specializzazioni</h2>
    <div class="grid grid-cols-4 gap-6">
        {% card "PAro" %}
        {% card "PRs" %}
        {% card "PQt" %}
        {% card "PSg" %}
        {% card "PDpv1" %}
        {% card "POpc1" %}
        {% card "PSp1" %}
    </div>
    <div class="notes">
        <p>QT: 2500mt → 0.74 atm = (0.21 * 0.74 ) === 0.155 bar PpO2</p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</section>
<section class="relative step slide" data-x="7200" data-y="2730">
    <h2>Quiz</h2>
    <p class="mb-8 text-3xl">Quale brevetto abilita alla minore profondità?</p>
    <div class="card-grid substep">
        {% card "PAro" %}
    </div>
    <div class="absolute w-64 text-9xl top-12 right-8">
          🙋
      </div>
</section>