<section class="flex flex-col step slide" data-x="1440" data-y="0">
  <h2>Il percorso didattico AR 2023</h2>
  <div class="flex">
    <div class="flex items-center justify-center w-1/2">
      <img
        src="img/document-filled-svgrepo-com.svg"
        class="w-48"
        alt="Programma Didattico"
/>
      <p class="text-3xl">PD_DS_1_2023.pdf</p>
    </div>
    <div class="flex-1 w-1/2">
      <img
        src="img/fipsas-website-pd.png"
        class="object-contain h-full"
        alt="Sito della fipsas"
/>
    </div>
  </div>
  <div class="notes">
    Tutto quello che dirò lo trovate sul percorso didattico

    <p> è il documento che descrive le caratteristiche principali
    (requisiti di accesso, durata, abilitazione, ecc.) dei corsi AR del Settore DS FIPSAS. I corsi sono suddivisi nelle seguenti discipline:</p>
  </div>
</section>
<section class="flex flex-col step slide" data-y="910">
  <h2>Come si legge</h2>
  <p class="mb-6">Ogni corso è descritto da una tabella</p>
  <div class="w-full mx-auto">
    <img src="img/table-p1.png" alt="Tabella corso P1"/>
  </div>
  <div class="notes">
    Tutto quello che dirò lo trovate sul percorso didattico
  </div>
</section>