<section class="flex items-center justify-center step slide"  data-x="0"  data-y="0">
    <div>
        <h1 class="mb-6 text-center">
            Corsi Base di competenza M1<br/>
            Corsi di Specializzazione di competenza M1
          </h1>
        <div class="w-48 mx-auto">
            <img src="img/cefis.jpeg" alt="Cefis BO MO FE"/>
        </div>
    </div>
</section>
<section class="flex items-center justify-center step slide"  data-x="0"  data-y="910">
    <ol class="text-3xl leading-loose">
        <li>Il percorso didattico</li>
        <li>I corsi e le specializzazioni: allievo</li>
        <li>I corsi e le specializzazioni: chi può insegnarli</li>
    </ol>
</section>