<!DOCTYPE html>
<html>
  <head>
    <title>Corsi base AR & specializzazioni</title>
    <link rel="stylesheet" href="assets/impress-common.css"/>
    <link rel="stylesheet" href="assets/impress-demo.css"/>
    <link rel="stylesheet" href="assets/style.css"/>
    <script src="js/cards/card.js"></script>
  </head>
  <body class="impress-not-supported transform-gpu">
    {#
    <div class="fallback-message">
      <p>
        Your browser <b>doesn't support the features required</b> by impress.js,
        so you are presented with a simplified version of this presentation.
      </p>
      <p>
        For the best experience please use the latest <b>Chrome</b>,
        <b>Safari</b> or <b>Firefox</b> browser.
      </p>
    </div>
    #}
    <div id="impress">
      {% include 'title.njk' %}
      {% include 'percorso-didattico.njk' %}

      <section class="step slide" data-x="2880" data-y="0">
        <h2>Corsi base</h2>
        <p class="mb-8 text-3xl">Quanti sono? Quali sono?</p>
        <div class="card-grid">
          {% card "P0" %}
          {% card "P1" %}
          {% card "P2" %}
        </div>
        <div class="card-grid">
          {% card "P3", "bg-rose-100" %}
          {% card "PAiAr", "bg-rose-100" %}
        </div>
      </section>
      <section
        id="flowchart"
        data-x="1640"
        data-y="3020"
        data-scale="4"
        class="step bg-flowchart bg-center bg-contain bg-no-repeat w-[1400px] h-[860px]"
      ></section>
      {% include 'flow-p0.njk' %}
      {% include 'flow-p1.njk' %}
      {% include 'flow-p2.njk' %}
      {% include 'flow-m1.njk' %}

      <section class="relative step slide" data-x="10080" data-y="0">
        <h2>Di cosa non abbiamo parlato</h2>
        <ul class="text-3xl list-disc list-inside">
          <li>Percorso Didattico primo soccorso e sicurezza</li>
          <li>Percorso Didattico diversamente abili</li>
          <li>Percorso Didattico immersioni avanzate</li>
          <li>Percorso Didattico minisub</li>
          <li>Percorso Didattico rebreather</li>
        </ul>
        <div class="absolute w-64 text-9xl top-24 right-8 -rotate-12">
          🤯
        </div>
      </section>
      <section class="relative step slide" data-x="10080" data-y="0">
        <h2>Domande?</h2>
        <p class="mb-8 text-3xl">(Voi)</p>
      </section>
      <div
        id="overview"
        class="step"
        data-x="2500"
        data-y="1500"
        data-scale="7"
      ></div>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="js/tippy.js"></script>
    <script src="js/impress.js"></script>
    <script>
      window.impress || document.write('<script src="https://cdn.jsdelivr.net/gh/impress/impress.js@2.0.0/js/impress.js">\x3C/script>');
    </script>
    <script>
      impress().init();
    </script>
  </body>
</html>