@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-gray-700;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-5xl font-bold;
}

.slide {
  width: 1400px;
  height: 865px;
  @apply px-16 py-10 text-lg leading-9 bg-white border border-gray-300 rounded-lg shadow-md;
}

.slide h2 {
  @apply mb-6;
}

.slide-box {
  @apply px-16 py-10 text-lg leading-9 bg-white border border-gray-300 rounded-lg shadow-md;
}

.debug {
  @apply border border-red-500;
}

#flowchart {
  opacity: 1;
}

/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.

*/
#overview {
  display: none;
}

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}
